# Scikit-learn

Uma das bibliotecas mais usadas para aprendizado de máquina, processamento de imagens e etc. Como citado anteriormente, precisamos dos dados bem condicionados pra construir os modelos.

Dados bem condicionados != modelo bem condicionado, porém:
Dados mal condicionados === modelo mal condicionado

## Preparando os dados

Primeiro, além de limpar os dados, precisamos separar os dados de treinamento dos dados de teste. O modelo nunca pode ver os dados de teste enquanto está sendo treinado, apenas quando for testado.

Na etapa de testes é possível medir a precisão do modelo

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
%matplotlib inline

heart_disease = pd.read_csv('./data/heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

Nesse dataframe "heart disease" queremos prever se um paciente terá ou não doença cardíaca de acordo com os dados de outros pacientes, Assim temos:

- Features (X): são os dados que nos ajudam a prever o target. Nesse caso, todos os dados podem ser considerados feature, exceto o target.
- Target(y): Variável que queremos prever

In [ ]:
X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

display(X.head(), y.head())

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

display(X_train, X_test, y_train, y_test)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1
133,41,1,1,110,235,0,1,153,0,0.0,2,0,2
35,46,0,2,142,177,0,0,160,1,1.4,0,0,2
63,41,1,1,135,203,0,1,132,0,0.0,1,0,1
113,43,1,0,110,211,0,1,161,0,0.0,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,58,1,0,100,234,0,1,156,0,0.1,2,1,3
197,67,1,0,125,254,1,1,163,0,0.2,1,2,3
146,44,0,2,118,242,0,1,149,0,0.3,1,1,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
92,52,1,2,138,223,0,1,169,0,0.0,2,4,2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3
234,70,1,0,130,322,0,0,109,0,2.4,1,3,2
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,45,1,1,128,308,0,0,170,0,0.0,2,0,2
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
91,57,1,0,132,207,0,1,168,1,0.0,2,0,3
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
70,54,1,2,120,258,0,0,147,0,0.4,1,0,3

280    0
133    1
35     1
63     1
113    1
      ..
273    0
197    0
146    1
3      1
92     1
Name: target, Length: 242, dtype: int64

122    1
227    0
234    0
215    0
85     1
      ..
81     1
301    0
91     1
270    0
70     1
Name: target, Length: 61, dtype: int64

In [11]:
car_sales = pd.read_csv('./data/car-sales-extended.csv')
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Colour         1000 non-null   object
 2   Odometer (KM)  1000 non-null   int64
 3   Doors          1000 non-null   int64
 4   Price          1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 39.2+ KB